html, body {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#map {
    float: left;
    width: 70%;
    height: 100%;
}
#sidebar {
    float: left;
    width: 30%;
    margin: 0;
}

#sidebar > * {
    padding: 32px 24px;
}

#sidebar .sidebar-header {
    background: #447ad7;
    color: #ffffff;
    margin: 0;
    // padding: 32px 24px;
}

#sidebar .sidebar-header p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#sidebar .sidebar-header h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 6px;
}

#sidebar .sidebar-header p.label {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

#sidebar .sidebar-header .count-people {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

#sidebar .map_options img{
    width: 18px;
}

#sidebar .sidebar-header .assistance-people, #sidebar .sidebar-header .safe-people {
    float: left;
    width: 50%;
}

#sidebar .legend div {
    float: left;
    margin: 0;
    padding: 0;
}

#sidebar .legend .legend-marker {
    width: 20%;
    clear: both;
}

#sidebar .legend .legend-marker img {
    width: 18px;
}

#sidebar .legend .legend-title {
    text-align: left;
    width: 80%;
}

.header {
    width:100%;
    height: 70px;
    background: #447AD4;
}

.header img {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    height: 30px;
}

.header h1 {
    font-weight: 600;
    font-size: 18px;
    float: left;
    margin-top: 24px;
    margin-left: 10px;
    color: #FFFFFF;
}

.wrapper {
    padding: 0 48px;
}

.body {
    width: 50%;
    float: left;
}

.updates {
    width: 50%;
    float: left;
}

.updates .twitter-feed {
    width: 80%;
}

.blue-button {
    color: #fff;
    text-decoration: none;
    background: #447AD4;
    padding: 12px 28px;
    margin: 12px 0;
    border-radius: 3px;
    display: inline-block;
}

form {
    width: 100%;   
}

form label {
    display: block;
    font-weight: 600;
}

form input {
    font-size: 14px;
    padding: 10px 12px;
    background: #f2f2f2;
    border-radius: 3px;
    border: 1px solid #afafaf;
}

form input[type="text"] {
    width: 250px;
    margin: 12px 0 36px 0;
}

form input[type="submit"] {
    font-size: 16px;
    border: none;
}

form input[type="checkbox"] {
    margin: 8px 8px 8px 0;
}


img.map-indicator {
    position: relative;
    top: 4px;
    margin-right: 8px;
}







