html, body {
    font-family: "Helvetica", "Arial", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box|border-box|initial|inherit;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#map {
    float: left;
    width: 70%;
    height: 100%;
}
#sidebar{
    float: left;
    width: 30%;
    /*text-align:center;*/
    padding-top: 10px;
}
#sidebar .toggle-button {
    width: 40%;
    height: 100px;
    float: left;
    color: #ffffff;
    font-size: 14px;
    background: #b3b3b3;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    border: none;
    padding: 10px;
}
#sidebar .active {
    color: #ffffff;
    background: #3498db;
    border: none;
}
#sidebar .toggle-button#heat-map-btn {
    margin-left: 10%;
}
#sidebar .toggle-button#severity-map-btn {
    margin-right: 10%;
}

#sidebar .toggle-button img {
    display: block;
    width: 40px;
    margin: 0 auto;
}

#sidebar #severity_map_info, #sidebar #heat_map_info {
    margin-top: 24px;
    padding: 40px;
}

#sidebar .info_title h2 {
    margin-top: 56px;
}

#sidebar .legend div {
    float: left;
    margin: 0;
    padding: 0;
}

#sidebar .legend .legend-marker {
    width: 20%;
    clear: both;
}

#sidebar .legend .legend-marker img {
    width: 18px;
}

#sidebar .legend .legend-title {
    text-align: left;
    width: 80%;
}